# Configure StyleCop rules here only
[*.cs]

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = none

# SA1309: Field names should not begin with underscore
dotnet_diagnostic.SA1309.severity = none

# SX1309: Field names should begin with underscore
dotnet_diagnostic.SX1309.severity = warning

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1201 - SA1204: Fields/properties/statics/etc ordering
dotnet_diagnostic.SA1201.severity = error
dotnet_diagnostic.SA1202.severity = error
dotnet_diagnostic.SA1203.severity = error
dotnet_diagnostic.SA1204.severity = error

# IDE0005 - Remove unnecessary using directives
dotnet_diagnostic.IDE0005.severity = error

# SA1010: Disable space before opening square bracket conflict
dotnet_diagnostic.SA1010.severity = none

# Prevent code-style breaks - upper-level editorconfig was not read for some reason
[*]
indent_size = 3
indent_style = space
end_of_line = crlf
insert_final_newline = true

[*.xaml]
indent_size = 4
insert_final_newline = false

[*.csproj]
indent_size = 2
insert_final_newline = false

[*.xml]
indent_size = 4
insert_final_newline = false
# Configure StyleCop rules here only
[*.cs]

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = none

# SA1309: Field names should not begin with underscore
dotnet_diagnostic.SA1309.severity = none

# SX1309: Field names should begin with underscore
dotnet_diagnostic.SX1309.severity = warning

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1201 - SA1204: Fields/properties/statics/etc ordering
dotnet_diagnostic.SA1201.severity = error
dotnet_diagnostic.SA1202.severity = error
dotnet_diagnostic.SA1203.severity = error
dotnet_diagnostic.SA1204.severity = error

# IDE0005 - Remove unnecessary using directives
dotnet_diagnostic.IDE0005.severity = error

# Prevent code-style breaks - upper-level editorconfig was not read for some reason
[*]
indent_size = 3
indent_style = space
end_of_line = crlf
insert_final_newline = true

[*.xaml]
indent_size = 4
insert_final_newline = false

[*.csproj]
indent_size = 2
insert_final_newline = false

[*.xml]
indent_size = 4
insert_final_newline = false
